<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coypu" version="2.14.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.35" targetFramework="net461" />
  <package id="Selenium.Support" version="3.3.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.3.0" targetFramework="net461" />
  <package id="SpecFlow" version="2.2.0" targetFramework="net461" />
  <package id="SpecRun.Runner" version="1.6.3" targetFramework="net461" />
  <package id="SpecRun.SpecFlow" version="1.6.3" targetFramework="net461" />
  <package id="SpecRun.SpecFlow.2-2-0" version="1.6.3" targetFramework="net461" />
</packages>